#nare {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

img {
	width: 900px;
	height: 500px;
	margin: auto;

}

#hero {
	width: 950px;
	height: 500px;
	display: block;
	position: relative;
	margin-left: 500px;
}

.images {
	margin-left: 200px;
}

#sliders {
	width: 900px;
	height: 500px;
	display: block;
	position: absolute;
	overflow: hidden;
}
